#gifts{
    padding:  0 70px;
}
#gifts h2{
    font-family: 'vnsouthernh';
    font-size: 2em;
    text-align: center;
}
#gifts  p{
    font-size: 15px;
    margin: 20px 0;
}

#gifts .gifts-photo{
    padding: 50px 0;
}
#gifts .gifts-photo img{
    width: 80%;
    height: auto;
    max-width: 500px;
}
#gifts .gifts-list{
    padding: 50px 0;
}
#gifts .gifts-list .list-group-item{
    border: none;
    padding: 5px 0;
    position: relative;
}
/* Style check bok/ checked*/
#gifts .gifts-list .list-group-item input[type="checkbox"]{
    display: none;
}
#gifts .gifts-list input[type="checkbox"] + label span{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../assets/unchecked.png")no-repeat;
    background-size: cover;
    cursor:pointer;
    left: -25px;
    top: 6px;
}
#gifts .gifts-list input[type="checkbox"]:checked + label span{
    background: url("../assets/checked.png") no-repeat;
    background-size: cover;
}

#gifts .list-group-item label small{
    font-size: 16px;
}

/* Form style*/
#gifts form{
    padding: 30px;
    width: 60%;
    margin: 0 auto;
}
#gifts form .control-lable{
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}
#gifts form .form-control{
    border-radius: 10px;
    margin-bottom: 20px;
}
#gifts #submit {
    border: none;
    border-radius: 5px;
    background: rgb(240, 121, 220);
    padding: 7px 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 0 2px rgb(255, 255, 255);
}
#gifts #submit:hover{
    background: rgb(194, 50, 170);
}
/* medium devices - screen width equal to or less than 768px*/ 
@media only screen and (max-width : 768px){
    #gifts{
        padding: 10px;
    }
    #gifts .gifts-photo{
        display: none;
    }
    #gifts form{
        padding: 5px;
        width: 100%;
        margin: 0 auto;
    }
}
